*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    
}
.green{
  background-color: green;
}
.orange{
background-color: orange;
}

.yellow{
background-color: yellow;
color:#000 !important;
}
.red{
background-color: red;
}
.redder{
background-color: purple;
}
.reddest{
background-color: maroon;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  
  

  
  .card .aqi-value {
    font-family : "Noto Serif","Palatino Linotype","Book Antiqua","URW Palladio L";
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  
h1{
  text-align: center;
  font-size:2em;
  margin: 10px;
  
}
h3{
  text-align: center;
  font-size:1.5em;
  margin: 10px;
  
}
h3 span1{
  color: green;
}
h3 span2{
  color: darkgoldenrod;
}
h3 span3{
  color: orange;
}
h3 span4{
color: red;
}
h3 span5{
  color: purple;
}
h3 span6{
  color: maroon;
}
input[type=text] {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .wrapper .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
  }